<div class="container-fluid px-0 vh-100" style="position: relative;">
    <div class="container" *ngIf="totalPrice!=0">
      <table class="table table-striped">
          <thead>
            <tr>
              
              <th>Product Id</th> <th>Product</th> <th>Price</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderItem of orderItemsList">
              
              <td>{{orderItem.ordersDetailId}}</td> <td>{{orderItem.productName}}</td> <td>{{orderItem.productPrice}}</td> 
              
              
            </tr>
          </tbody>
      </table>
        
      <div class="container d-flex justify-content-center" >Total:<span>{{totalPrice}}</span></div>
      
      <div class="container d-flex justify-content-center mt-4"><div class="btn btn-danger" (click)="btnClick()">Checkout</div></div>
        
      </div>
  
    <!-- if cart is empty then display a message -->
    <div *ngIf="orderItemsList.length == 0" class="alert alert-warning text-center col-md-12" role="alert">
      Your shopping cart is empty. 
    </div>
  </div>
    
  