<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      
      <a class="navbar-brand">MediCare</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="loginState()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <span class="navbar-text me-3 mb-1" *ngIf="user==undefined">
          <a data-bs-toggle="modal" href="#exampleModalToggle" style="text-decoration: none;">Login</a>
        </span>
       
          <span class="me-4" me-3 mb-1 *ngIf="user!=undefined">
            <div class="dropdown">
              
              <span class="navbar-text dropdown-toggle "  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.loginName}}
                <span><i class="fa fa-solid fa-user"></i></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li style="cursor: pointer;"><a class="dropdown-item">Change password</a></li>
                <li style="cursor: pointer;"><a class="dropdown-item" >Logout</a></li>
              </ul>
            </div>
          </span>
        
        <form class="d-flex mt-1"[formGroup]="searchForm" (ngSubmit)=" doSearch()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
              <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">Email is required</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
              <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password is required</span>
            </div>
            
            <div class="d-flex justify-content-center">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <div id="emailHelp" class="form-text">Never have an account then create it within a second</div><br>
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Create an account</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="mb-1">
              <label for="InputName" class="form-label">UserName</label>
              <input formControlName="name" type="name" class="form-control" id="InputName" aria-describedby="emailHelp">
              <span class="text-danger" *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name')">Username is required</span>
            </div>
            <div class="mb-1">
              <label for="InputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">Email is required</span>
            </div>
            <div class="mb-3">
              <label for="InputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="InputPassword1">
              <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">Password is required</span>
            </div>
            
            <div class="d-flex justify-content-center">
              <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Signup</button>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <app-home></app-home>
